#menu{
	height: 90%;
	display: grid;
	grid-row-gap: 2vmax;
	grid-template-columns: repeat(2,50vw);
	grid-template-rows: repeat(3,25vh);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	
}
@media screen and (orientation: landscape){
	#menu{
		display: grid;
		grid-row-gap: 1vmax;
		grid-template-columns: repeat(3,33vw);
		grid-template-rows: repeat(2,44vh);
	}

}
#menu div{
	place-self: center;
}
#menu img{
	cursor: pointer;
	transition: all .2s ease-in-out;
	background-color:  #23A8F2;
	padding: 15px;
	border-radius: 50%;
}

#menu img:hover{
 transform: scale(1.1); 
}
