#footer{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
#footer div{
    height: 100%;
    width: 100%;
    display: grid;
}
#footer div a{
    display: inline-grid;
    width: 100%;
}
#footer div a img{
   place-self: center;
}
#footer div:hover{
    background-color: #333333;
}
.onHover{
    background-color: #333333; 
}
#TV{
    grid-area: 1 / 2 / 1 / 3;
}
